body{
    background-color: #000;
  }
  /* Erster Slider - Von Unten Nach Oben*/
  .nameOverImage{
      position:relative;
      width:100%;
      height:20rem;
      float:left;
      background-size:100%;
      background-position:center;
      transition:1s;
      overflow:hidden;
      border-radius:4px;
      box-shadow:0 0 4px #000;
    }
    
    .nameOverImage:hover{
      background-size:250%;
    }
    
  .nameOverImage:before{
    position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
    transform:translateY(100%);
      background-color:rgba(0,0,0,0.3);
      padding:0 8px;
      content:attr(data-title);
      transition:0.5s 0.1s;
      color:#fff;
      font-weight:bold;
      font-size:1.5em;
  }
  .nameOverImage:hover:before{
      transform:translateY(0);
      padding:8px;
      background-color:rgba(0,0,0,0.6);
      transition:0.5s;
  }
  
  