<div class="ui grid">
 
  <div class="doubling six column row">
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
  </div>
  <div class="doubling six column row">
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
  </div>
  <div class="doubling six column row">
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
  </div>
  <div class="doubling six column row">
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
    <div class="column">
      <div class="nameOverImage" style="background-image:url(pic.jpg)" data-title="hanamura(Overwatch)"></div>
    </div>
  </div>
</div>