
<div class="grid">
    <div class="ui equal width grid">
        <div class="column">    
            <p> Bitte geben Sie das Passwort ein, um in den geschützten Bereich zu gelangen.</p>
            <p> das Passwort ist "admin"</p>
        </div>
        <div class="ui container">
            <div class="ui action input">
                <input type="password" [(ngModel)]=PW id="password" placeholder="passwort">
                <button (click)="onClick()" class="positive ui button" >Bereich Betreten</button>
            </div>
        </div>
        </div>
    </div>


