<p>Pinnwand</p>

  <div class="ui comments">
    <h3 class="ui dividing header">Kommentare </h3>
    <div class="comment">
        <div id="comments"></div>
    </div>
  </div>

  

<div class="ui left icon input">
  <input id="name "type="text" placeholder="Name" >
  <i class="users icon"></i>
</div>
  <form class="ui reply form">
    <div class="field">
      <textarea id="text" placeholder="sag uns deine meinung"></textarea>
    </div>
    <div class="ui blue labeled submit icon button" id="submit">
        <i class="icon edit"></i> submit
    </div>
  </form>
