.ui.inverted.menu#horizontal{
    border-radius: 0px;
    height: 3em;
   
}
.content{
    background-color: rgb(231, 231, 231);
    margin-top:8em ;
    margin-left: 20%;
    margin-right: 20%; 
    width: 60%;
    height: 100%;
    min-height: 50em;
    
}

i.bars.icon{
    color: #fff;
    margin: 10px;
    font-size: 30px !important;;

}
#IconBar{
    display: none;
}
#menu{
    position: fixed;
    /*left: -300px; */
    top: 0px; 
    
    width: 230px !important;
    height: 100%;
    margin-top: 5rem;
}
#menu.active{
    left: 0px;
}
#menu a:hover{
left: 25px;
}

@media only screen and (max-width: 1170px) {
    .content{
    background-color: rgb(231, 231, 251);


    }
    #menu{
        display: none;
    }
    #IconBar{
        display:flex;
    }
}
