<div class="grid">
  <div class="sixteen wide column">
      <div class="ui fixed inverted main menu" id="horizontal">
          <div class="left menu">       
          </div>
          
              <div show hide-gt-md>
                  <div class="eight wide column">
                      <div class="ui vertical inverted sidebar menu left overlay visible" id="menu">
                        <div class="item">
                        <img src="">
                          <a href="http://www.bremer-kanu-wanderer.de"><b>{{title}}</b></a>
                        </div>
                        <a class="item" [routerLink]="['Home']">  <p>Home</p></a>
                        <a class="item" [routerLink]="['Ueberuns']"><p>Über uns</p></a>
                       <!--  <a class="item" [routerLink]="['Geschichte']"><p>Geschichte</p></a>
                        <a class="item" [routerLink]="['UnserProgramm']"><p>Unser Programm</p></a>
                        <a class="item" [routerLink]="['Neuesvombkw']"><p>Neues vom BKW</p></a>
                        <a class="item" [routerLink]="['Kanukurseimbkw']"><p>Kanukurse im BKW</p></a>
                        <a class="item" [routerLink]="['Jugendseite']"><p>Jugendseite</p></a>
                        <a class="item" [routerLink]="['Mitgleidwerden']"><p>Mitglied werden</p></a>
                        <a class="item" [routerLink]="['Mitglieder']"><p>Neumitgleider</p></a>
                        <a class="item" [routerLink]="['DKVKanustation']"><p>DKV-Kanustation</p></a>
                        <a class="item" [routerLink]="['Zustaendigkeiten']"><p>Wer ist zuständig</p></a>
                        <a class="item" [routerLink]="['Vereinsboote']"><p>Die Vereinsboote</p></a>
                        <a class="item" [routerLink]="['Sicherheit']"><p>Sicherheit</p></a>
                        <a class="item" [routerLink]="['Fotoalbum']"><p>Das Fotoalbum</p></a>
                        <a class="item" [routerLink]="['Touren']"><p>Tourenberichte</p></a>
                        <a class="item" [routerLink]="['Archiv']"><p>Aus dem Archiv</p></a> -->
                        <a class="item" [routerLink]="['Wetter']"><p>Wetter</p></a>
                        <a class="item" [routerLink]="['Tiede']"><p>Tiede</p></a>
                        <a class="item" [routerLink]="['Pinnwand']"><p>Pinnwand</p></a>
                        <!--    <a class="item" [routerLink]="['Fahrtenbuch']"><p>Elektronisches Fahrtenbuch</p></a> -->
                        <a class="item" [routerLink]="['Impressum']"><p>Impressum</p></a>
                        <a  >|</a>
                      </div>
                    </div>
              </div>
              <!-- Bei einem zu kleinen Bildschirm wird die mobile version gestartet-->
              <div show-mid>
                  <div class="right menu" > 
                    <div id="IconBar" (click)="toggle()" class="ui right dropdown item">
                        <i class="bars icon"></i>
                        <div class="menu">
                          <div class="item" [routerLink]="['Home']">  <p>Home</p></div>
                          <div class="item" [routerLink]="['Ueberuns']"><p>Über uns</p></div>
                         <div class="item" [routerLink]="['Geschichte']"><p>Geschichte</p></div>
                          <div class="item" [routerLink]="['UnserProgramm']"><p>Unser Programm</p></div>
                          <div class="item" [routerLink]="['Neuesvombkw']"><p>Neues vom BKW</p></div>
                          <div class="item" [routerLink]="['Kanukurseimbkw']"><p>Kanukurse im BKW</p></div>
                          <div class="item" [routerLink]="['Jugendseite']"><p>Jugendseite</p></div>
                          <div class="item" [routerLink]="['Mitgleidwerden']"><p>Mitglied werden</p></div>
                          <div class="item" [routerLink]="['Mitglieder']"><p>Neumitgleider</p></div>
                          <div class="item" [routerLink]="['DKVKanustation']"><p>DKV-Kanustation</p></div>
                          <div class="item" [routerLink]="['Zustaendigkeiten']"><p>Wer ist zuständig</p></div>
                          <div class="item" [routerLink]="['Vereinsboote']"><p>Die Vereinsboote</p></div>
                          <div class="item" [routerLink]="['Sicherheit']"><p>Sicherheit</p></div>
                          <div class="item" [routerLink]="['Fotoalbum']"><p>Das Fotoalbum</p></div>
                          <div class="item" [routerLink]="['Touren']"><p>Tourenberichte</p></div>
                          <div class="item" [routerLink]="['Archiv']"><p>Aus dem Archiv</p></div> 
                          <div class="item" [routerLink]="['Wetter']"><p>Wetter</p></div> 
                          <div class="item" [routerLink]="['Tiede']"><p>Tiede</p></div>
                          <div class="item" [routerLink]="['Pinnwand']"><p>Pinnwand</p></div>
                          <div class="item" [routerLink]="['Fahrtenbuch']"><p>Elektronisches Fahrtenbuch</p></div> 
                          <div class="item" [routerLink]="['Impressum']"><p>Impressum</p></div>
                        </div>
                    </div>
                  <a class="item" [routerLink]="['Intern']">Intern</a>
              </div>
            </div>
            <div show-xs>
              
            </div>
          
    </div>
  </div>
</div>

<div>
  
  <div class="eight wide column" class="content" id="rechts">
    <router-outlet></router-outlet>
  </div>
</div>







  


 
    
      

  
  
  