<div class="ui segment">
    <h3>Impressum</h3>
    <p> Bremer Kanu-Wanderer e.V.</p>
    <p>Richard-Jürgens-Weg 5</p>
    <p>28205 Bremen</p>
    <p> Telefon 0421-123456 </p>
    <p>Vereinsregisternummer ****</p>
   
</div>
    <div class="ui segment">

    <h3>1. Vorsitzender:</h3>
    <p> Vorname Nachname</p>
    <p> Lorem ipsum dolor sit amet, consectetuer</p> 
    <p>Tel.: 0421-123456</p>   
    
    <h3>2. Vorsitzender:</h3> 
    <p>Vorname Nachname</p>
    <p>Lorem ipsum dolor sit amet, consectetuer</p>
    <p> Tel.: 0421-123456</p>
    
    </div>
    <div class="ui segment">
    
    <h3>Rechtliches</h3>
    <p> 
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
  </p>
  
  </div>
  <div class="ui segment">
    <h3>Zum Haftungsausschluß</h3>
    Programmierung, Pflege und Wartung der Website: Paul Dieterich <br>
    Paul.dieterich0@gmail.com
    
  </div>
  <div class="ui segment">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d847.7323457681612!2d8.843426878788836!3d53.060814377269985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b0d809f20dba3b%3A0x3b93b9adf603cf02!2sBremer+Kanu-Wanderer+e.V.!5e0!3m2!1sde!2sde!4v1524769637253" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>