<h1> An 28Apps:</h1>

<p> dies ist eine kleine Webseite, die ich für meinen Verein angefangen habe. 
  Alle Informationen sind von der aktuellen Webseite: <a href="http://www.bremer-kanu-wanderer.de">bremer-kanu-wanderer.de</a> 
</p>
<p> Ich habe viele Tabs auskommentiert, da noch nichts hinterlegt ist. Unter dem Tab "Pinnwand" finden Sie 
  eine Funkion zum Kommentareschreiben; über den Button "Intern", in der 
  rechten oberen Ecke, soll man sich später als Admin der Seite einloggen können.
</p>
