.ui.stacked.segment{
    box-shadow: 0.5px 0.5px 1px 0.3px #b0b0b0;
padding: 7%;
height: 345px;
width: 50%;
margin-top: 10%;
margin-right: 25%;
margin-left: 25%;
}
h2{
margin: 0!important;
padding: 10px !important;
}
